.main {
    display: flex;
    width: 840px;
    height: 594px;
    gap: 40px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.form {
   
    color: #2F2F2F;
    background: #ffffff;
}

.label {
    
display: block;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.01em;
font-weight: bold;
color:#323F47;
}

.input {
    width: 400px;
    height: 56px;
    border-radius: 15px;
    border: 1px solid #00000010;
}

.gender {
    margin-bottom: 14px;
}

/* .radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.radio {
     /* position: absolute; */

  height: 20px; 
  width: 20px; 
  border-color: #9BE1A0; 
  font-size: 16px;

  justify-content: center;  
}

.name {
    margin-top: 24px;
    margin-bottom: 8px;
}

.email {
    margin-top: 14px;
    margin-bottom: 8px;
}

.norma {
    margin-top: 24px;
    margin-bottom: 14px;
}

.container-formula {
    display: flex;
    gap: 28px;
}

.formula {
    font-size: 16px;
    font-weight: 700;
    color: #9BE1A0;
}

.text-formula {
  width: 368px;
  height: 152px; 
  color:#2F2F2F; 
  font-size: 14px;
  line-height: 1.5; 
  padding: 10px; 
  border: 1px solid #00000010;
  border-radius: 15px; 
  resize: none;
  padding: 16px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.sign-container {
  display: flex;
  justify-content: center; 
}


.sign {
  display: flex;
  align-items: center;
 
}

.svg {
    margin-bottom: 24px;
}

.hours {
  margin-left: 10px; 
  margin-bottom: 40px;
}

.weight {
     margin-top: 86px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    font-weight: normal;
    line-height: 24px;
}

.active {
  font-size: 16px;
    font-weight: 400;
    font-weight: normal;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 8px;
}  
 

.amount {
    font-size: 16px;
    font-weight: 400;
    font-weight: normal;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 14px;
}

.water-drink {
    margin-bottom: 8px;
}

.button {
    width: 141px;
    height: 56px;
    background-color:#9BE1A0;
    border-radius: 30px;
}

